Body{
    background: #fff ;
    Text-align:center;
    justify-content:center;
    Float:center;
    justify-items:center;
    font-family: 'Pacifico', cursive;
}
.cef input, button{
    Padding:12px;
    Margin:10px;
    Border-radius:10px;
}
.cef{
    background: #ffffea;
    height: 550px;
    Border-radius:2rem;
    Border-color:#ffb380;
}
footer{
    Padding:0;
    Margin:0;
}
.wh{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(re.png);
  background-size: cover;
